<nav class="navbar navbar-light" style="color: white;background: lightseagreen;margin-bottom: 20px;">
  <div class="container">
    <a class="navbar-brand" style="color: #fff;" href="{{ path('home') }}">WeeBooks</a>
    {% if is_granted("ROLE_USER") %}
      <a href="{{ path('securityLogout') }}" style="color: #fff;">Logout</a>
    {% else %}
      <a href="{{ path('securityLogin') }}" style="color: #fff;">Login</a>
    {% endif %}
  </div>
</nav>