body{
	font-family: sans-serif;;
}

ul  {
	list-style: none;
    color:white;
}


textarea {
    height: 200px!important;
}

.form-signin label:last-of-type, .form-signin button {
  margin-top: 15px;
}

.meta-data { color: lightseagreen; }